* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
.container {
    width: 1320px;
    margin: auto;
}
/* Header Styles */
.header-area {
    height: 98px;
    display: flex;
    align-items: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
.main-menu ul li a {
    line-height: 25.6px;
    transition: all 0.3s ease-in-out;
}
.main-menu ul li a:hover {
    color: #1d4ed8;
}

.common-btn {
    background-color: #1d4ed8;
    padding: 12px 42px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
.common-btn:hover {
    background-color: #3071fc;
}

/* Banner Styles */

.banner-area {
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(-52deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
        url("../img/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 786px;
    color: #fff;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.banner-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.banner-top h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3px;
}
.banner-top p {
    width: 58%;
    text-align: center;
    font-size: 22px;
}
.banner-btn .common-btn {
    font-size: 24px;
    padding: 25px 65px;
}

/* Speakers Area */
.speakers-area,
.pricing-area,
.venue-area {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #000102;
}
.section-title p {
    padding-top: 15px;
}
.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.speaker-card {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}
.speaker-card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.speaker-info {
    padding: 24px;
    display: grid;
    gap: 8px;
}
.speaker-info h6 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #2563eb;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.speaker-info h3 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    color: #0d1b2a;
}
.speaker-info p {
    font-size: 14px;
    line-height: 21px;
}

.speaker-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

/* Pricing Area */
.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.pricing-card {
    border: 1px solid #e5e7eb;
    padding: 32px;
    border-radius: 12px;
}
.pricing-card.highlighted {
    border: 1px solid #0d1b2a;
    background-color: #0d1b2a;
}

.pricing-card-body {
    margin-left: 15px;
    padding: 20px 0;
    display: grid;
    gap: 10px;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.highlighted .pricing-card-body {
    color: #fff;
    opacity: 0.8;
}
.highlighted .pricing-card-body li::marker {
    color: #60a5fa;
    font-size: 14px;
}
.pricing-card-body li::marker {
    color: #2563eb;
    font-size: 14px;
}
.pricing-card-top h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
}
.pricing-card.highlighted .pricing-card-top h6 {
    color: #2563eb;
}
.pricing-card.highlighted .pricing-card-top h3 {
    color: #fff;
}
.pricing-card-top p {
    font-size: 13px;
    line-height: 20px;
}
.highlighted .pricing-card-top p {
    color: #fff;
    opacity: 0.5;
}
.pricing-card-top h3 {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: #0d1b2a;
    padding: 8px 0;
}
.pricing-card-top {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 20px;
}
.highlighted .pricing-card-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.outline-btn.common-btn {
    display: block;
    text-align: center;
    background: transparent;
    color: #2563eb;
    border: 1px solid #2563eb;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.highlighted .common-btn {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

/* Footer Area  */
.footer-area {
    background: #0d1b2a;
    padding: 30px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-right ul {
    list-style: none;
    display: flex;
    gap: 8px;
}
.footer-right ul a {
    font-size: 20px;
    color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
}
.footer-right ul a:hover {
    color: #2563eb;
}
.footer-bottom {
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

/* Venue Area */
.venue-area {
    background-color: #f3f4f6;
}
.venue-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.venue-image {
    position: relative;
    display: flex;
}
.venue-image img {
    border-radius: 12px;
    display: block;
}
.venue-card {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    display: flex;
    gap: 18px;
    align-items: center;
    background: rgba(15, 23, 42, 0.9);
    color: #fff;
    padding: 22px 25px;
    border-radius: 18px;
}
.venue-card .icon {
    width: 55px;
    height: 55px;
    background: #2563eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.venue-card small {
    color: #fff;
    letter-spacing: 1px;
}

.venue-card h3 {
    margin: 5px 0;
}

.facility-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 25px;
}

.facility {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}

.facility:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.facility i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eff6ff;
    color: #2563eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.facility h4 {
    margin-bottom: 10px;
}

.facility p {
    color: #64748b;
    font-size: 15px;
}

.map-box {
    overflow: hidden;
    border-radius: 12px;
    height: 350px;
}

.map-box iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.hotel-box {
    margin-top: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px;

    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.hotel-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hotel-icon {
    width: 70px;
    height: 70px;

    background: #eff6ff;
    color: #2563eb;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
}

.outline-btn.common-btn:hover {
    background: #2563eb;
    color: #fff;
    border: 1px solid #2563eb;
}
